<div id="container">
  <br />
  <br />

  <div id="timer">
    <div id="time">
      <span id="minutes">{{minutes === 0 ? '00' : minutes}}</span>
      <span id="colon">:</span>
      <span id="seconds">{{seconds === 0 ? '00' : seconds}}</span>
    </div>

  </div>

  <div id="buttons">
    <button id="start" (click)="start()">Start!</button>

    <button id="stop" (click)="stop()">Stop</button>
    <button id="reset" (click)="reset()">Reset</button>
    <br />
    <button id="addFive" (click)="addFive()">+5</button>
    <button id="minusFive" (click)="minusFive()">-5</button>
  </div>

</div>
